.servicios{
  width: auto;
  height: auto;
  display: block;
  background-color: var(---color-text);
}
/* contenedor de la card servicios*/
.servicios__contenedor-card{
display: flex;
flex-direction: column;
background-color: #0c0c8371;
}




